
@font-face{
font-family: "fancy-font";
  src: url("victoria_melody.zip");
  font-weight: normal;
  font-stle: normal;
}
* {	
  box-sizing: border-box;	
  font-family: Raleway;	
  color: #888;	
}	
html,body{	
  margin: 0;	
  padding : 0;	
}	
.nav ul {	
  magin:0;	
}	
.nav li{	
display: inline;	
}	

.nav a {	
  display: inline;
 padding: .5em;	
  color: white;	
  text-decoration: none;	
}	
.main-nav li {
  padding: 0 5%;
}
.main-nav {
font-size : 1.1em;
text-align: center;
font-weight: lighter;
border-bottom: 1px solid rgba(255,255,255,.3);
}
.nav a:hover {
background-color: rgba(255,255,255,.3);
}
.main-header {	
  background-color: rgba(0,0,0,.8);
  background-image: url("mario world.jpg");	
  background-blend-mode: multiply;	
  background-size: cover;	
  padding-bottom: 30px;	
}

title-header {
text-align: center;
margin: 0;
fontsize: 4em;
fontfamily: "fancy-font";
  font-weight: normal;
}
