@import url ('https://fonts.googleapis.com/css?family=Raleway:300,400')	html { background-color : red; }
.main-header {	
  background-color: rgba(0,0,0,.8);
  background-image: url("marioworld.jpg");	
  background-blend-mode: multiply;	
  background-size: cover;	
  padding-bottom: 30px;	
}

{	
  box-sizing: border-box;	
  font-family: Raleway;	
  color: #888;	
}	
html,body{	
  margin: 0;	
  padding : 0;	
}	
.nav ul {	
  magin:0;	
}	
.nav li{	
display: inline;	
}	

.nav a {	
 padding: .5em;	
  color: white;	
  text-decoration: none;	
}	

